<a href="https://colab.research.google.com/github/BasiraS/data_analytics_2/blob/main/Python/Unit2_L4_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [8]:
# Create a list that holds 5 data variables.
test_scores = [67, 89, 94, 33, 100]
print(test_scores)

[67, 89, 94, 33, 100]

## 2.	Print out those variables by using a for loop

In [9]:
# Print out those variables by using a for loop.
for score in range(len(test_scores)):
  print(test_scores[score])

67
89
94
33
100

## 3.	Modify your for loop to add a message to your for loop.

In [10]:
# Modify your for loop to add a message to your for loop
message = "Student {} scored a {} on the exam."
for score in range(len(test_scores)):
  print(message.format(score+1, test_scores[score]))

Student 1 scored a 67 on the exam.
Student 2 scored a 89 on the exam.
Student 3 scored a 94 on the exam.
Student 4 scored a 33 on the exam.
Student 5 scored a 100 on the exam.

## 4.	Use a for loop to print even numbers from 1-20.

In [15]:
# Use a for loop to print even numbers from 1-20
for number in range(1, 21):
  if (number % 2 == 0):
    print(number)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [12]:
# Sort your list in alphabetic order
test_scores.sort()
print(test_scores)

[33, 67, 89, 94, 100]

## 6.	Print out the first three elements of your list.

In [13]:
# Print out the first three elements of your list
print(test_scores[:3])

[33, 67, 89]

## 7.	Create a loop to print the last 2 elements of your list.

In [14]:
# Create a loop to print the last 2 elements of your list
print(test_scores[-2:])

[94, 100]